{% extends "base_generic.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="text-center">Вход</h2>
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_username" class="form-label">Логин</label>
        <input type="text" class="form-control" id="id_username" name="login" required>
    </div>
    <div class="mb-3">
        <label for="id_password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="id_password" name="password" required>
    </div>
    <div>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Зарегистрироваться</a>
    </div>
    <p></p>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>
{% endblock %}
